<!DOCTYPE html>
<html>
  <head>
    <title>AllaBreve - Административная панель</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='admin-panel'>
      <header class='admin-panel__header'></header>
      <aside class='admin-panel__side'>
        <nav class='admin-panel__nav'>
          <li class='admin-panel__nav-item'>
            <a href=<%= admin_articles_path %>>Статьи</a>
          </li>
        </nav>
      </aside>
      <main class='admin-panel__main'>
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
